@import '../abstracts/_variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-family;
    font-optical-sizing: auto;
    background-color: $bg-primary-color;
    position: relative;
  }