$font-family: "Roboto", serif;
/* Colores de Backgrounds */
$bg-primary-color: #fcfcfc;
$bg-primary-color-tr: rgba(255,255,255,0.9);
$bg-secondary-color: #014f25;
$bg-tertiary-color: #fdcf00;
$bg-quaternary-color: #212121;
$bg-quinary-color: #f7edc4;
$bg-white-color: #fff;
/* Font colors */
$font-primary-color: #212121;
$font-secondary-color: #014f25;
$font-tertiary-color: #fff;
$font-link-color-grey: #575757;
