.header-home{
    
    .top-navigation{
        background-color: #fff;
        padding: 10px;
        .logo{

        }
        .menu{
            display: block;
        }
        .redes-top{

        }
    }
}