.int-obras {
  padding: 80px 20px;
  h1 {
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .obra-item {
    margin-bottom: 30px;
    height: 300px;
    overflow: hidden;
    background-position: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    .obra-infomation {
      width: 60%;
      display: grid;
      padding-top: 10px;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
      .obra-lead {
        background-color: $bg-white-color;
        padding: 30px 25px 25px 25px;
        display: grid;
        align-content: space-between;
        height: 180px;

        h2 {
          text-transform: uppercase;
          font-size: 1.2rem;
        }
        .localidad {
          font-size: 1rem;
        }
      }
      .obra-flecha {
        a {
          color: $font-tertiary-color;
          font-size: 1.5rem;
          background-color: $bg-tertiary-color;
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }
      }
    }
  }
  .bt-mas-obras {
    margin-top: 20px;
    a {
      color: $font-secondary-color;
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
    }
    i {
      background-color: $bg-secondary-color;
      color: $font-tertiary-color;
      padding: 3px 20px;
      width: 80px;
      text-align: end;
    }
  }
}

.una-obras {
  padding: 80px 20px;
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px
  }
  .imagenes{
    @include grid(grid, 1fr);
    gap: 10px;
    .imagen-pincipal{
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .lupa{
            height: 70px;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $bg-tertiary-color;
            color: $font-tertiary-color;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
            font-size: 1.3rem;
            font-weight: 700;
            a{
              color: $font-tertiary-color;
              text-decoration: none;
            }
        }
    }
    .imagen-thumbs{
        @include grid(grid, 1fr 1fr 1fr 1fr);
        gap: 10px;
        .imagen-thumb {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }
    }
  }
  .texto-obra{
    margin-top: 20px;
    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
